
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
      layout:decorate = ~{layout}>

    <body layout:fragment = "body">

        <div class="container mt-5" >
            <div class="col-md-12">
                <div class="card border-light row  p-3 h-100">
                    <h4 class="card-title" style="text-align: center;">Carga Masiva</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button  class="btn btn-outline-primary mt-2 mb-3 col-md-12" id="buttonTxT" style="text-align: center;"><i class="bi bi-filetype-txt"></i>  .Txt</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button  class="btn btn-outline-success mt-2 mb-3 col-md-12" id="buttonXlsx" style="text-align: center;"><i class="bi bi-filetype-xlsx"></i>  .Xlsx</button>
                        </div>

                        <div class="col-md-12 mb-3" id="formularioArchivo" style="display: none">
                            <br>
                            <form action="/Usuario/CargaMasiva" method="post" enctype="multipart/form-data">
                                <input type="file" id="archivo" name="archivo" accept=".xlsx,.txt">
                                <button type="submit" class="btn btn-success" id="cargaMasiva">Subir Archivo</button>
                            </form>
                        </div>

                        <div th:if="${archivoCorrecto!= null}">
                            <div th:if="${listaErrores.isEmpty()}">
                                <h4>Archivo correcto: </h4>
                                <a th:href="@{/Usuario/CargaMasiva/procesar}" class="btn btn-success">Procesar archivo</a>
                            </div>
                            <div th:unless="${listaErrores.isEmpty()}">
                                <h4>Archivo incorrecto: </h4>
                                <table class="table table-responsive table-bordered">
                                    <thead class="table-dark">
                                    <th class="col-2">Linea</th>
                                    <th>Texto</th>
                                    <th>Error</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="error :${listaErrores}">
                                            <td th:text="${error.fila}"></td> 
                                            <td th:text="${error.texto}"></td> 
                                            <td th:text="${error.descripcionProblema}"></td> 
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div> 

            </div> 

        </div>


        <script>
          
            let tipoArchivo = "";
                    document.getElementById("buttonXlsx").addEventListener("click", function () {
                    tipoArchivo = "xlsx";
                    document.getElementById("formularioArchivo").style.display = "block";
                    document.getElementById("archivo").setAttribute("accept", ".xlsx");
                    document.getElementById("cargaMasiva").classList.remove("btn-primary");
                    document.getElementById("cargaMasiva").classList.add("btn-success");
            });
                    document.getElementById("buttonTxT").addEventListener("click", function () {
            tipoArchivo = "txt";
                    document.getElementById("formularioArchivo").style.display = "block";
                    document.getElementById("archivo").setAttribute("accept", ".txt");
                    document.getElementById("cargaMasiva").classList.remove("btn-success");
                    document.getElementById("cargaMasiva").classList.add("btn-primary");
            });
                    document.getElementById("archivo").addEventListener("change", function () {
            if (this.files.length > 0) {
            var fileName = this.files[0].name;
                    var fileExtension = fileName.split('.').pop().toLowerCase();
                    if (fileExtension !== tipoArchivo) {
            alert("Por favor, seleccione un archivo " + tipoArchivo.toUpperCase() + " válido.");
                    this.value = "";
            }
            }
            });
                    

        </script>

    </body>
</html>
